/* ICONS */

.icon-menu {
  color: $black;
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: currentColor;
}
.icon-menu:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: currentColor;
}
.icon-menu:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.icon-close {
  color: $black;
  position: absolute;
  left: 0;
}
.icon-close:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.icon-close:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}